.logos {
    list-style: none;
}

.logos-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

.logos img {
    height: 64px;
    width: 64px;
}

.modal {
    display: flex;
    flex-direction: column;
}